.login-signup{
    background-image:url("../img/agentOffice3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.login.card{
    height: 32rem;
    box-shadow: grey;
}
.signup.card{
    height: 35rem;
    box-shadow: grey;
}

.text-theme {
    color:red!important;
}

.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}