/* 
    General Styles
*/
@import "./userProfile.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
    font-family: 'Roboto', sans-serif;
}

.home {
    background-image:url("../img/cities_tall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.red{
    color: red;
}

.logo_tamano {
    height: 4rem;
    display: block;
    margin: auto;
}
